@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    font-family: 'Inter', sans-serif;
}
@media (max-width: 767px){
    .hamburger{
        background-image: url(./images/hamburger.svg);
        background-repeat: no-repeat;
        width: 32px;
        height: 40px;
    }
    .hamburger:hover{
        cursor: pointer;
    }
}

@media (min-width: 768px) {
    #open-hamburger{
        @apply hidden;
    }
}